@media (max-width: 767px) {
  #landing {
    background: linear-gradient(#08003ab3, #08003ab3),
      url(../../assets/images/landing/landing_768.webp);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #landing {
    background: linear-gradient(#08003ab3, #08003ab3),
      url(../../assets/images/landing/landing_1024.webp);
  }
}
@media (min-width: 1024px) {
  #landing {
    background: linear-gradient(#08003ab3, #08003ab3),
      url(../../assets/images/landing/landing_1200.webp);
  }
}
#landing {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--gray-color);
}
.dark #landing {
  border-bottom: 3px solid var(--gray-light);
}
#landing .text {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
#landing h1 {
  font-size: 4rem;
  font-weight: 600;
}
#landing p {
  margin: 10px auto 20px;
  max-width: 700px;
  line-height: 1.4;
}
@media (min-width: 768px) and (max-width: 1024px) {
  #landing h1 {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  #landing h1 {
    font-size: 2rem;
  }
  #landing .text {
    max-width: 400px;
  }
}
